<div class="col-sm-4 col-sm-offset-4">
    <div class="well">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3><i class="fa fa-male"></i> New User</h3>
            </div>

        </div>
        <form>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" ng-model="register.firstName">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" ng-model="register.lastName">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" ng-model="register.email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Password" ng-model="register.password">
            </div>
            <button class="btn btn-primary" ng-click="register.register()">Register</button>
        </form>
    </div>
</div>