<div class="col-sm-6 col-sm-offset-3">
    <div class="well">
        <h3>Welcome !</h3>
        <div ng-controller="UserController">
            <button class="btn btn-primary" style="margin-bottom: 10px" ng-click="user.getUsers()" ng-disabled="isDisabled">Get Your Profile!</button>
        </div>

        <ul class="list-group" ng-if="user.users">
            <li class="list-group-item" ng-repeat="user in user.users">
                <h4>Id: {{user.id}}</h4>
                <h5>First Name: {{user.first_name}}</h5>
                <h5>Last Name: {{user.last_name}}</h5>
                <h5>Email: {{user.email}}</h5>
            </li>
        </ul>
        <div class="alert alert-danger" ng-if="user.error">
            <strong>There was an error: </strong> {{user.error.error}}
            <br>Please go back and login again
        </div>
    </div>
</div>